.auth-buttons a {
    margin-left: 10px;
}
#chat-window {
    border-radius: 5px;
}
.message {
    margin-bottom: 10px;
}
.user-message {
    font-weight: bold;
    color: #00918B;
}
.assistant-message {
    color: #333;
}
h1, h2 {
    text-align: center;
}
.subheader {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}
.chat-input {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}
#attach-button, #send-button {
    padding: 8px;
    background-color: #00918B;
    color: #fff;
    border: none;
    cursor: pointer;
}
#send-button {
    padding: 8px 16px;
}
#message-input {
    flex-grow: 1;
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #ddd;
}